# Python
__pycache__/
*.py[cod]

# Environment
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Jupyter
*.ipynb_checkpoints/

# Database
*.db

# Migrations
migrations/versions/__pycache__/

# Storage
receipt_processing_api/storage/
storage/
.DS_Store
*.pyc
__pycache__/
