fastapi
uvicorn[standard]
sqlalchemy[asyncio]
aiosqlite
psycopg2-binary
pydantic
python-dotenv
dramatiq[redis]
redis
minio
stripe
python-multipart
alembic
openai
openai-agents
asyncpg
python-jose
dramatiq[redis]
